.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin-top: 15px;

  /* Animated gradient background */
  background: linear-gradient(-45deg, #efecf3, #eaf0fb, #fcf8f5, #acbdfe);
  background-size: 400% 400%;
  animation: gradientFlow 12s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.login-title{
  color: #ff6600;
  font-weight: 900;
 
}

.login-card {
  display: flex;
  width: 900px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  padding: 15px;
}

.login-left,
.login-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding:10px;
}

.login-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.login-form {
  width: 80%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  color: #030656;
  font-weight: bolder;
  
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px 12px;
  border-radius: 8px;
  background: #f9f9f9;
}

.input-group .icon {
  margin-right: 10px;
}

.input-group input {
  border: none;
  outline: none;
  flex: 1;
  background: transparent;
}

.login-btn {
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.login-btn.primary {
  background: #ff6600;
  color: #fff;
}

.login-btn.google {
  background: #0b1d39;
  color: #ffffff;
  border: 1px solid #ddd;
}

.signup-text {
  font-size: 14px;
  margin-top: 10px;
}
.signup-text a {
  color: #ff6600;
  font-weight: bold;
}
